<div class="row">
  <div class="small-6 columns">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :placeholder => "Won't be shared",  :required => true %></div>

      <div><%= f.label :name %><br />
      <%= f.text_field :name, :placeholder => "What you want to be called", :required => true %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", :required => true %></div>

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %></div>

      <div><%= f.submit "Sign up", data: { disable_with: 'Joining...' }, :required => true %></div>
    <% end %>
  </div>
</div>
<div class="row"><%= render "devise/shared/links" %></div>