<h4>Choice Submissions</h4>
<div class="row">
  <% @adventure.posts.where(type: "Choice").each do |post| %>
    <div class="large-6 columns">
      <div class="submission">
        <%= post.content %>
        <hr class="divider">
        <!-- submission info:   votes, vote_up button, delete  -->
        <ul class="inline-list">
          <li>
            <%= form_for post.votes.new do |f| %>
              <%= f.hidden_field :post_id %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.submit "Upvote", :class => "button [tiny small large]"%>
            <% end %>
          </li>
          <li>
            <%= post.vote_count %>
          </li>
          <li>
           <%if current_user.admin? || current_user.id == post.user_id %>
              <%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button [tiny small large]"  %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
