  <h4>Story Submissions</h4>
  <% @adventure.posts.each do |post| %>
    <% unless post.story.blank? %>
      <%= post.story %>
      <%= pluralize(post.vote_count, "vote") %>
      <%= form_for post.votes.new do |f| %>
        <%= f.hidden_field :post_id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "up"%>
      <% end %>
      <%if current_user.admin? %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }  %>
      <% end %>
    <% end %>
  <% end %>

  <%= form_for @post do |f| %>
    <%= f.hidden_field :user_id %><br />
    <%= f.hidden_field :adventure_id, :value => @adventure[:id] %><br />
    <%= f.label :story %><br />
    <%= f.text_area :story %><br />
    <%= f.submit "Submit this story" %>
  <% end %>