<ul class="inline-list">
  <li> 
    <% if current_user.voted_for? adventure %>
      <% if current_user.voted_as_when_voted_for adventure %>
        <%= link_to image_tag('upvote.png', size: '18'), remove_like_adventure_path(adventure), method: :put %>
        <%= link_to image_tag('downvote.png', size: '18'), dislike_adventure_path(adventure), method: :put %>
      <% else %>
        <%= link_to image_tag('upvote.png', size: '18'), like_adventure_path(adventure), method: :put %>
        <%= link_to image_tag('downvote.png', size: '18'), remove_dislike_adventure_path(adventure), method: :put %>
      <% end %>
    <% else %>
      <%= link_to image_tag('upvote.png', size: '18'), like_adventure_path(adventure), method: :put %>
      <%= link_to image_tag('downvote.png', size: '18'), dislike_adventure_path(adventure), method: :put %>
    <% end %>
  </li>
  <li>
    <%= adventure.get_rank %>
  </li>
  <li>
   <%if current_user.admin? || current_user.id == adventure.user_id %>
      <%= button_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' }, data: { disable_with: 'Deleting...' }, :class => "button [tiny small large]"  %>
    <% end %>
  </li>
</ul>