<% provide(:title, 'Edit adventure') %>
<div class="row">
  <div class="small-9 small-centered columns story">
    <p class="adventure"><%= @adventure.story %></p>
    <ul class="small-block-grid-4">
      <% @adventure.uploads.each do |upload| %>
        <li>
          <%= image_tag upload.uploaded_file(:thumb) %>
          <%if current_user.admin? || current_user.id == @adventure.user_id %>
             <%= button_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button [tiny small large]"  %>
           <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <%if current_user.admin? || current_user.id == @adventure.user_id %>
  <%= form_for Upload.new, :url => uploads_path, html: { multipart: true } do |f| %>
    <%= f.label :uploaded_file, t('.upload_new_file') %>
    <%= f.file_field :uploaded_file, multiple: true, name: 'upload[uploaded_file]' %>
    <%= f.submit %>
  <% end %>

  <% # jquery upload template # %>
  <script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>
  <% end %>
</div>