<% provide(:title, 'Edit adventure') %>
<div class='row'>
  <div class='small-9 small-centered columns story'>
    <p class='adventure'><%= @adventure.story %></p>
    <ul class='small-block-grid-4'>
      <% @adventure.uploads.each do |upload| %>
        <li>
          <%= image_tag upload.image(:thumb) %>
          <%if current_user.admin? || current_user.id == @adventure.user_id %>
             <%= button_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button [tiny small large]'  %>
           <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%if current_user.admin? || current_user.id == @adventure.user_id %>
    <div class='row'>
      <div class='small-12 columns'>
        <%= image_tag @upload.image, id:'image', class: 'image-preview' %>
      </div>
    </div>
    <div class='row'>
      <div class='small-4 columns'>
          <%= form_for @upload, :html => { :multipart => true } do |f| %>
            <%= f.hidden_field :adventure_id, :value => @adventure.id %>
            <%= f.file_field :image, id:'upload_image', :required => true %>
<!--       </div> -->
      <!-- <div class='small-4 columns'> -->
            <%= f.submit 'Add photo', data: { disable_with: 'Uploading...' } %>
          <% end %>
      </div>
      <div class='small-4 columns'>
      </div>
    </div>
<% end %>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
      f=files[0]
      // Only process image files.
      if (f.type.match('image.*')) {
        var reader = new FileReader();
        reader.onload = (function(theFile) {
          return function(e) {
            // alert(e.target.result);
            document.getElementById('image').src=e.target.result;
            $('#image').show();
          };
        })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
      }
    }
  document.getElementById('upload_image').addEventListener('change', handleFileSelect, false);
</script>
