<h1>Dandelion Adventure Quest</h1>
<p><strong>Dandelion is in early alpha development stage. Please be careful with all information that you post to this site at this time. You should assume that all information is publicly available.</strong>
</p>
<% @adventures.each do |adventure| %>
	<% if adventure.is_root? %>
		<%= adventure.story %><br /><br />
		<% adventure.children.each do |child| %>
			<%= child.choice %>
			<%= link_to 'Choose this path', child %><br />
		<% end %>
	<% end %>
<% end %>

<div class="row">
	<div class="small-6 columns">
		<h3>Top Stories</h3>
		<% @top_adventures.each do |adventure| %>
			<div class="submission">
				<%= adventure.choice %>
				<%= adventure.story %>
			</div>
		<% end %>
	</div>
</div>