<h1>Dandelion Adventure Quest</h1>

<% @adventures.each do |adventure| %>
	<% if adventure.is_root? %>
		<%= adventure.story %><br /><br />
		<% adventure.children.each do |child| %>
			<%= child.choice %>
			<%= link_to 'Choose this path', child %><br />
		<% end %>
	<% end %>
<% end %>

<div class="row">
	<div class="small-6 columns">
		<h3>Top Stories</h3>
		<% @top_adventures.each do |adventure| %>
			<div class="submission">
				<%= adventure.choice %>
				<%= adventure.story %>
			</div>
		<% end %>
	</div>
</div>