<% provide(:title, 'Adventure') %>

<% if @adventure.parent %>
  <div class="row">
    <div class="small-6 column backstory">
      <%= link_to 'Backstory', @adventure.parent %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 large-8 small-centered columns story">
    <p class="adventure"><%= @adventure.story %></p>
    <% @adventure.uploads.each do |upload| %>
      <%= image_tag upload.image(:medium) %>
    <% end %>
  </div>
</div>

<% if @adventure.accepting_submissions? || @adventure.populated? || @adventure.popular? %>
  <div class="row">
    <div class="small-12 large-8 small-centered columns">
      <% if user_signed_in? %>
        <%= link_to 'Add a story', new_adventure_path(:id => @adventure.id), :id => "new_link", :class => "button", remote: true %>
      <% else %>
        <p>Please sign-in to submit a story and vote</p>
      <% end %>
    </div>
    <h4>Adventure Submissions</h4>
    <div class="row" id="submissions">
      <% @adventure_submissions.each do |adventure| %>
        <%= render 'adventure', adventure: adventure %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row choices">
    <% @adventure_choices.each do |adventure| %>
      <%= link_to adventure do %>
        <div class="small-6 columns choice"> 
          <p><%= adventure.choice %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
