<% if false %>
	<%= nested_adventures @adventures.arrange(:order => :created_at) %>
<% end %>

<%= @adventure.story %><br />

<% @adventure.children.each do |child| %>
	<div>
		<%= child.choice %> | 
		<%= link_to 'Choose this path', child %>
	</div>
<% end %>

<% if @adventure.childless? %>
  <%= render 'layouts/adventure_submissions' %>
<% end %>