<% provide(:title, 'Adventure') %>

<div class="row">
  <div class="small-9 small-centered columns story">
    <p class="adventure"><%= @adventure.story %></p>
    <% @adventure.uploads.each do |upload| %>
      <%= image_tag upload.image(:medium) %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if @adventure.open? %>
    <div class="small-9 small-centered columns">
      <%= link_to 'Add a story', new_adventure_path(:id => @adventure.id), :id => "new_link", :class => "button", remote: true %>
    </div>
    <h4>Adventure Submissions</h4>
    <div class="row" id="submissions">
      <% @submissions.each do |adventure| %>
        <%= render 'adventure', adventure: adventure %>
      <% end %>
    </div>
  <% else %>
    <% @adventure.children.each do |child| %>
      <% if child.is_only_child? %>
          <div class="small-6 small-centered columns choice">
            <p class="adventure"><%= child.choice %></p>
            <%= link_to 'Follow this path', child, :class => "button" %>
          </div>
      <% else %>
        <div class="small-5 columns choice"> 
          <div class="row"> 
            <p class="adventure"><%= child.choice %></p>
          </div>
          <div class="small-6 small-centered columns">
            <%= link_to 'Choose this path', child, :class => "button" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
