<% provide(:title, 'Adventure') %>

<div class="row">
  <div class="small-9 small-centered columns story">
    <% unless @adventure.photo.blank? %>
      <%= image_tag @adventure.photo.url %>
    <% end %>
    <p class="adventure"><%= @adventure.story %></p>
  </div>
</div>

<div class="row">
  <% if @adventure.published_open? %>
    <div class="small-3 small-centered columns">
  	<%= link_to 'Continue the adventure!', new_adventure_path(:id => @adventure.id), :class => "button" %>
    </div>
  <% else %>
    <% @adventure.children.each do |child| %>
      <% if child.is_only_child? %>
          <div class="small-6 small-centered columns choice">
            <p class="adventure"><%= child.choice %></p>
            <%= link_to 'Follow this path', child, :class => "button" %>
          </div>
      <% else %>
        <div class="small-5 columns choice"> 
          <div class="row"> 
            <p class="adventure"><%= child.choice %></p>
          </div>
          <div class="small-6 small-centered columns">
            <%= link_to 'Choose this path', child, :class => "button" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>