<%= @adventure.story %>

<ul class="small-block-grid-2">  
  <% @adventure.children.each do |child| %>
  <li> 
    <div class="row">
      <div class="small-12 columns"> 
        <%= child.choice %>
      </div>
    </div>
    <%= link_to 'Choose this path', child %>
  </li>
  <% end %>
</ul>
<div class="row">
  <% if @adventure.childless? %>
  <!-- Change this to a flash message -->
    <p>There are no more paths to this adventure, time to add your voice.</p>
    <%= render 'choice_submissions' %>
    <% if true %>
      <%= render 'story_submissions' %>
    <% end %>
  <% end %>
</div>