<div class='row'>
  <div class='small-12 columns'>
    <%= form_for @book, :html => { :multipart => true } do |f| %>
      <%= f.label :banner %><small>Optional. Display size 100x800</small>
      <%= f.file_field :banner, id: 'book_banner' %>
      <div class='small-12 columns'>
        <%= image_tag @book.banner, id:'banner', class: 'banner-preview' %>
      </div>
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => 'Title', :required => true %>
      <%= f.label :description %>
      <%= f.text_field :description, :placeholder => 'What is the theme of this book?', :required => true %>
      <div class='actions'>
        <%= f.submit 'Create', data: { disable_with: 'Creating...' }%>
      </div>
    <% end %>
  </div>
</div>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
      f=files[0]
      // Only process image files.
      if (f.type.match('image.*')) {
        var reader = new FileReader();
        reader.onload = (function(theFile) {
          return function(e) {
            // alert(e.target.result);
            document.getElementById('banner').src=e.target.result;
            $('#banner').show();
          };
        })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
      }
    }
  document.getElementById('book_banner').addEventListener('change', handleFileSelect, false);
</script>
