<div class='row'>
  <div class='small-12 columns'>
    <%= form_for @adventure_collection, :html => { :multipart => true } do |f| %>
      <%= f.file_field :banner %>
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => 'Title', :required => true %>
      <div class='actions'>
        <%= f.submit 'Create', data: { disable_with: 'Creating...' }%>
      </div>
    <% end %>
  </div>
</div>