<div class="row" id="header">
  <div class="small-2 columns">
    <%= link_to image_tag('logo.png', alt: 'dandelion_logo', size: '70'), root_path %>
  </div>
  <div class="small-7 columns">
    <h2>Dandelion Adventure Quest</h2>
  </div>
  <div class="small-3 columns" id="login">
    <small>
      <% if user_signed_in? %>
        <%= current_user.email %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %> |
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </small>
  </div>
</div>
